<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" 
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#" [routerLink] ="['/home']">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] ="['/aboutus']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] ="['/addstudentinfo']">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] ="['/viewstudentinfo']">View Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] ="['/addtripinfo']">Add Trip </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink] ="['/viewtripinfo']">View Trip </a>
          <a class="nav-link" href="#" [routerLink] ="['/faq']">FAQ</a>
  
      
      </ul>
      
    </div>
  </div>
</nav>