
    <div class="">
  
        <!--to show error alert-->
        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          <!--to show success alert-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
          <div align="center">
            <img  src="https://i.pinimg.com/564x/8c/c2/ee/8cc2ee88e885ae4c0d5ab5d0c849eb5b.jpg" style="height: 150px;">
            <br><br>
        <form  [formGroup]="studentinfoForm" >
          <div class="col-lg-4 mx-auto" >
            <input type="text" class="form-control" formControlName="studentID" placeholder="Student ID">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="studentName" placeholder="Student Name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="studentEmail" placeholder="Student Email">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="studentPhone" placeholder="Student Phone Number">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="Faculty" placeholder="Faculty">
          </div>
          <br>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="CourseCode" placeholder="CourseCode">
          </div>
          <br>
  
          <div  align="center" class="col-lg-15 mt-2" *ngIf="!getparamid" (click)="studentinfoUpdate()">
            <button >Confirm Update🧑‍🎓</button>
        </div>
  
        </form>
  
      </div>
    </div>
  
